* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
@font-face {
    font-family: myFont;
    src: url(MarkoDemo-w1gl9.otf)
}
#main-container {
    display: flex;
}
#right-container {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    background-color: rgb(0 0 0 / 3%);
    padding-bottom: 42px;
}
#intro-container, #form, #submit {
    padding-left: 50px;
    padding-right: 50px;
}
#first {
    line-height: 1.6;
}
#form-container {
    background-color: rgb(255 255 255);
    padding-top: 40px;
    padding-bottom: 30px;
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 6px 6px -4px rgb(0 0 0 / 30%);
}
#form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 90px;
}
input[class=form], select {
    padding: 12px 20px;
    border: 1px solid #ccc;
}
#right-form, #left-form{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
#intro-container {
    padding-bottom: 30px;
}
#intro {
    padding-left: 54px;
}
.intro {
    font-weight: 700;
}
#submit {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
}
#button {
    background-color: #4D2D18;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 4px 59px;
    font-size: 25px;
    border-radius: 10px;
}
button:hover {
    background-color: #744322;
    color: black;
}
#log-in {
    color: #4D2D18;
}
#left-container {
    font-size: 50px;
    display: flex;
    color: white;
}
#background-image {
    width: 400px;
    height: 846px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 600px;
    padding-top: 119px;
    opacity: 1.0;
}
#background-image:hover {
    opacity: 0.9;
}
#image-text {
    margin-top: 60px;
    padding-top: 20px;
    height: 120px;
    display: flex;
    gap: 5px;
    justify-content: center;
    width: 400px;
    background-color: rgb(0 0 0 / 62%);
}
#header {
    padding-top: 12px;
    font-family: myFont;
}
#credits p {
    font-size: 20px;
    word-spacing: 4px;
}
.credits {
    text-decoration: underline;
    color: white;
}
.message{
    padding: 10px 35px;
    font-size: 18px;
}
input:focus {
    background-color: lightblue;
}